langgraph
langchain
langchain-ollama
langchain-community
langchain-text-splitters

pydantic
python-dotenv

chromadb
tavily-python
requests

fastapi
uvicorn
streamlit

reportlab
icalendar

pytest
amadeus